@{
	ViewData["Title"] = "Płatność";
}

<h3>Wybierz metodę płatności</h3>

<input type="checkbox" name="blikMethod" id="blikMethod"/>
<input type="checkbox" name="paypalMethod" id="paypalMethod"/>

<div class="blikDialog">

</div>

