@model IEnumerable<stellarCinema.Entities.Hall>

@{
    ViewData["Title"] = "Dostępne sale";
}

<h1>Dostępne sale</h1>

<p>
    <a asp-action="Create" class="more">Dodaj nową sale</a>
    <a asp-action="EmployeePanel" asp-controller="Home" class="more">Powrót</a>
</p>
<div class="boxCustomerView">

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa sali
            </th>
            <th>
                Ilość miejsc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HallName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHall" class="more">Edytuj</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>
