@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --bodyFont: 'Outfit', sans-serif;
    --headerFont: 'Big Shoulders', sans-serif;
    --sand: #EAE2B7;
    --yellow: #FCBF49;
    --orange: #F77F00;
    --red: #D62828;
    --darkblue: #003049;
    --dirtyWhite: #dad6d1;
}

body {
    font-family: var(--bodyFont);
    background-color:var(--dirtyWhite);
    color: var(--darkblue);
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    background-color: var(--dirtyWhite);
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}


header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    text-decoration:none;
    color:var(--darkblue);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login {
    background: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.slider {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    margin: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,108,1) 35%, rgba(17,184,218,1) 100%);
}

.slide {
    display: flex;
    align-items: center;
    height: 55vh;
    width:90%;
}

.movie-photo{
    width:50%;
}
.movie-photo img {
    height: 55vh;
    border-radius: 15px;
}

.movie-description {
    width: 50%;
    padding: 20px;
    color: white;
    text-align: left;
}

    .movie-description h2 {
        font-size: 32px;
        font-weight: bold;
    }

    .movie-description p {
        font-size: 16px;
        margin: 10px 0;
    }

.desc-bar {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}


.buy {
    background: linear-gradient(to right, #ff007f, #ff4d00);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.more {
    background: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
}

.repertoire {
    padding: 20px;
}

.tabs button {
    background: none;
    border: none;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

.tabs .active {
    border-bottom: 5px solid orange;
}

.movies {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hidden {
    display: none;
}

.imgRepertoire{
    height:40vh;
    border-radius:10px;
}

.movie-details-container {
    margin: 30px auto;
    max-width: 900px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,108,1) 35%, rgba(17,184,218,1) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.poster-container img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.movie-details h4 {
    margin-top: 20px;
    color: #333;
}

.movie-details ul {
    padding: 0;
    list-style: none;
}

    .movie-details ul li {
        padding: 5px 0;
    }

.movie-details .buttons a {
    margin-right: 10px;
}

.movie h3{
    margin:0;
}

.employeeView {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}