@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --bodyFont: 'Outfit', sans-serif;
    --headerFont: 'Big Shoulders', sans-serif;
    --background: #121212;
    --cardBackground: #1E1E1E;
    --primaryText: #EAEAEA;
    --secondaryText: #B0B0B0;
    --highlight: #F77F00;
    --accent: #D62828;
    --border: #333;
    --sand: #f4e1c1;
}

body {
    font-family: var(--bodyFont);
    background-color: var(--background);
    color: var(--primaryText);
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

footer {
    background: var(--cardBackground);
    color: var(--primaryText);
    text-align: center;
    padding: 20px;
}


header {
    background: linear-gradient(90deg, rgba(5,4,23,1) 0%, rgba(31,31,108,1) 33%, rgba(16,166,197,1) 100%);
    padding-bottom: 5px;
}
.headerMain {
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding-right:50px;
}

.welcomeMessage{
    margin-right:5px;
}
.cinemaName{
    display:flex;
    justify-content:center;
    align-items:center;
}

.cinemaName a{
    font-size:40px;
    margin-right:5px;
    font-weight:bold;
}

.headerMain img{
    width:90px;
}
header a {
    text-decoration: none;
    color: var(--primaryText);
}


.head-welcome p{
    display:inline;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--primaryText);
    font-weight: bold;
}

.login {
    background: var(--accent);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    margin: auto;
    background: linear-gradient(90deg, rgba(5,4,23,1) 0%, rgba(31,31,108,1) 33%, rgba(16,166,197,1) 100%);
    overflow: hidden;
    position: relative;
}

.slides-container {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Dodano p³ynne przejœcie */
    width: 100%;
}

.slide {
    flex: 0 0 100%; /* Ka¿dy slajd zajmuje pe³n¹ szerokoœæ */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    text-align: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.movie-photo{
    width:50%;
}
.movie-photo img {
    height: 55vh;
    border-radius: 15px;
}

.movie-description {
    width: 50%;
    padding-right: 15vh;
    color: white;
    text-align: left;
}

    .movie-description h2 {
        font-size: 32px;
        font-weight: bold;
    }

    .movie-description p {
        font-size: 16px;
        margin: 10px 0;
    }

.prev, .next {
    background-color: black;
    background: rgba(0,0,0,0.5);
    position: absolute;
    color: white;
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}

.desc-bar {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}


.buy {
    background: linear-gradient(to right, #ff007f, #ff4d00);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
}

.more {
    background: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
}

.repertoire {
    padding: 20px;
    max-width:1000px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.tabs button {
    background: none;
    border: none;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    color: white;
}

.tabs .active {
    border-bottom: 5px solid orange;
}

.movies {
    display: flex;
    justify-content: center;
    gap: 60px 0px;
    flex-wrap:wrap;
    margin: 20px 0px 20px 0px;
}

.movie {
    width: 290px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.movie img{
    width:217px;
    height:280px;
    object-fit:cover;
}


.hidden {
    display: none;
}

.imgRepertoire{
    height:40vh;
    border-radius:10px;
}

.movie-details-container {
    margin: 30px auto;
    max-width: 900px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,31,108,1) 35%, rgba(17,184,218,1) 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.poster-container img {
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.movie-details h4 {
    margin-top: 20px;
    text-decoration:underline;
}


.movie-details ul {
    padding: 0;
    list-style: none;
}

    .movie-details ul li {
        padding: 5px 0;
    }

.movie-details .buttons a {
    margin-right: 10px;
}

.movie h3{
    margin:0;
}

.movie h4 {
    font-weight: normal;
    margin-top: 0;
}

.employeeView {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.showtimeContainer {
    display: flex;
    justify-content: space-around;
}

.showtimeLeftSide {
    display: flex;  
    flex-direction: column;
    width: 40%;
    margin-top:3rem;
}

.oneShowtimeDate {
    margin-bottom: 2rem;
}


.showtimeRightSide {
    display: flex;
    
    width: 60%;
}

#calendar{
    width:50vw;
}


.fc {
    background-color: var(--cardBackground);
    color: var(--primaryText);
    border: 1px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.fc-daygrid-day:hover {
    background-color: #333;
    cursor: pointer;
}


.fc-event {
    background-color: #2a3e5c;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.2s ease;
}

.fc-event:hover {
    transform: scale(1.05);
    background-color: var(--highlight);
}

.showtimesIndexContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.showtimesIndexContainer #calendar {
    width: 70vw;
}

.moviesData {
    margin: 0px 0 20px 0;
    padding: 0px 0 20px 0;
    justify-content:center;
    align-items:center;
}

#allMoviesContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.bookContainer {
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.seatsContainer{
   margin-bottom: 2rem;
}

.screen {
    display: block;
    width: 100%;
    height: 70px;
    background-color: black;
    border: solid 2px white;
    border-radius: 40px 40px 0 0;
    margin: 10px 0;
    text-align:center;
    align-content:center;
    font-size:20px;
    margin-bottom:30px;
}

.seatsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 700px;
}

.seat-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.seatLabel {
    position: relative;
    display: inline-block;
}

.seat-checkbox {
    display: none;
}

.seat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: gray;
    color: white;
    border-radius: 15px 15px 5px 5px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.seat-checkbox:checked + .seat {
    background-color: green;
}

.seat-checkbox:checked + .seat,
.seat.selected {
    background-color: green;
}

.bookInformations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: var(--sand);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1000;
}

.paymentSummary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}