@model stellarCinema.Entities.Movie

@{
	ViewData["Title"] = "Dodawanie filmu";
}

<h1>Dodawanie nowego filmu</h1>

<div>
	<a asp-action="EmployeePanel" asp-controller="Home" class="more">Powrót</a>
</div>
<div class="row">

	<form asp-action="Create" method="post" enctype="multipart/form-data">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Tytuł</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label>Opis</label>
			<textarea asp-for="Description" class="form-control" rows="5"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label>Czas trwania</label>
			<input type="time" asp-for="Duration" class="form-control" />
			<span asp-validation-for="Duration" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label>Gatunek</label>
			<input asp-for="Genre" class="form-control" />
			<span asp-validation-for="Genre" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label>Dodaj zdjęcie</label>
			<input asp-for="PosterUrl" type="file" name="PosterFile" class="form-control" />
		</div>
		<div class="form-group">
			<label>Data premiery</label>
			<input asp-for="ReleaseDate" class="form-control" />
			<span asp-validation-for="ReleaseDate" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label>Link do filmweb</label>
			<input asp-for="MovieLink" class="form-control" />
			<span asp-validation-for="MovieLink" class="text-danger"></span>
		</div>
		<div class="form-group">
			<input type="submit" value="Dodaj" class="btn btn-primary" />
		</div>
	</form>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
