<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Stellar Cinema</title>
	@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/stellarCinema.styles.css" asp-append-version="true" />
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
</head>
<body>
	<header>
		<div class="headerMain">

			<div class="cinemaName">
				<a asp-area="" asp-controller="Home" asp-action="Index">Stellar Cinema</a>
				<img src="/posters/CINEMA_LOGO.png" />
			</div>

			<nav>
				<a asp-area="" asp-controller="Home" asp-action="Index">REPERTUAR</a>
				<a asp-area="" asp-controller="Movies" asp-action="Index">FILMY</a>
				<a asp-area="" asp-controller="Showtimes" asp-action="Index">KALENDARZ</a>
			</nav>
			@if (User.IsInRole("recepcionist"))
			{
				<a asp-area="" asp-controller="Home" asp-action="EmployeePanel">Panel pracownika</a>
			}
			@if (Context.User.Identity.Name == "admin")
			{
				<a asp-area="" asp-controller="Account" asp-action="Index">Panel admina</a>
			}
			﻿@if (Context.User.Identity.Name != null)
			{
				<form class="head-welcome" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" type="submit">
					<p class="welcomeMessage">Witaj @Context.User.Identity.Name! </p>
					<button type="submit">Wyloguj</button>
				</form>
			}
			else
			{
				<div class="head-log-reg">
					<h4><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Logowanie</a></h4>
				</div>
			}
		</div>
	</header>

	<div class="container">
		<main role="main" class="mainView">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div class="content">
			&copy; 2025 - Stellar Cinema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/book.js" asp-append-version="true"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
