@{
	ViewData["Title"] = "Panel pracownika";
}

<h1>Panel pracownika</h1>


<a asp-controller="Movies" asp-action="Create">Dodaj film</a>
<a asp-controller="Movies" asp-action="Create">Dodaj film do repertuaru</a>