@{
	ViewData["Title"] = "Panel pracownika";
}

<h1>Panel pracownika</h1>
<div class="employeeView">

	<div class="basicInteraction">
		<a asp-controller="Movies" asp-action="Create" class="more">Dodaj film</a>
		<a asp-controller="Halls" asp-action="Create" class="more">Dodaj salę</a>
		<a asp-controller="Halls" asp-action="Index" class="more">Pokaż sale</a>

	</div>

	<div class="manageSection">
		<a asp-controller="Showtimes" asp-action="Create" class="more">Dodaj film do repertuaru</a>

	</div>
</div>