@model stellarCinema.Entities.Showtime

@{
    ViewData["Title"] = "Dodawanie filmu do repertuaru";
}

<h1>Dodawanie filmu do repertuaru</h1>

<div>
    <a asp-action="EmployeePanel" asp-controller="Home" class="more">Powrót</a>
</div>
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <input type="text" class="form-control" id="movieSearch" placeholder="Wpisz tytuł filmu">
                <input type="hidden" id="selectedMovieId" name="IdMovie"> 
            </div>

            <div class="form-group">
                <select class="more" asp-for="IdHall" class="form-control" id="hallsFiller">
                    <option value="">Wybierz salę</option>
					@foreach (var hall in ViewBag.Halls)
					{
						<option value="@hall.IdHall">@hall.HallName</option>
					})
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ShowtimeDateStart" class="control-label"></label>
                <input asp-for="ShowtimeDateStart" class="form-control" />
                <span asp-validation-for="ShowtimeDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
